a {
		text-decoration: none;
	}

	.overlay {}

	#particles-js {}

	.center-in-center {
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.container-fluid {
		/* 让自适应浏览器高度 */
		position: fixed;
		width: 100%;
		top: 0%;
		bottom: 0;
		overflow: auto;
	}

	.container-fluid .m-auto {

		padding: 10% 0;

	}

	.border-box-shaow {
		border-radius: 1.25rem;
		border: none;
		box-shadow: 0px 18px 10px -15px gainsboro;
		-moz-box-shadow: 2px 2px 10px gainsboro;
		-webkit-box-shadow: 2px 2px 10px gainsboro;
		box-shadow: 2px 2px 10px gainsboro;
	}

	.cover {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 20%);
	}

	.cover::before {
		/* https://api.dongmanxingkong.com/suijitupian/acg/1080p/index.php */
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent url(https://api.ixiaowai.cn/api/api.php) center center no-repeat;
		filter: blur(0px);
		z-index: -99;
		background-size: cover;
	}

	.form-bg {}

	.htmleaf-container {}

	.form-horizontal {
		background: #fff;
		padding-bottom: 10px;
		border-radius: 15px;
		text-align: center;
	}

	.form-horizontal .heading {
		display: block;
		font-size: 35px;
		font-weight: 700;
		padding: 35px 0;
		color: #E0E0E0;
		border-bottom: 1px solid #f0f0f0;
		margin-bottom: 30px;
	}

	.font-change-login {
		color: #C8C8C8;
		transition: all 0.3s ease;
		background: transparent;
		padding: 3px;
		font-size: 14px;
		letter-spacing: 2px;
		border-radius: 4px 0px 0px 4px;
		line-height: 1.33333;
		display: inline-block;
		text-align: center;

	}

	.font-change-login:hover {
		color: #ffa500;
		background-color: rgba(0, 0, 0, 0);
	}

	.form-horizontal .form-group {
		padding: 0 40px;
		margin: 0 0 25px 0;
		position: relative;
	}

	.form-horizontal .form-control {
		background: #f0f0f0;
		border: none;
		border-radius: 20px;
		box-shadow: none;
		padding: 0 20px 0 45px;
		height: 40px;
		transition: all 0.3s ease 0s;
	}

	.form-horizontal .form-control:focus {
		background: #e0e0e0;
		box-shadow: none;
		outline: 0 none;
	}

	.form-horizontal .form-group i {
		position: absolute;
		top: 12px;
		left: 60px;
		font-size: 17px;
		color: #c8c8c8;
		transition: all 0.5s ease 0s;
	}

	.form-horizontal .form-control:focus+i {
		color: #ffa500;
	}

	.form-horizontal .fa-question-circle {
		display: inline-block;
		position: absolute;
		top: 12px;
		right: 60px;
		font-size: 20px;
		color: #808080;
		transition: all 0.5s ease 0s;
	}

	.form-horizontal .fa-question-circle:hover {
		color: #000;
	}

	.form-horizontal .main-checkbox {
		float: left;
		width: 20px;
		height: 20px;
		background: #ffa500;
		border-radius: 50%;
		position: relative;
		margin: 5px 0 0 5px;
		border: 1px solid #ffa500;
	}

	.form-horizontal .main-checkbox label {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	.form-horizontal .main-checkbox label:after {
		content: "";
		width: 10px;
		height: 5px;
		position: absolute;
		top: 5px;
		left: 4px;
		border: 3px solid #fff;
		border-top: none;
		border-right: none;
		background: transparent;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.form-horizontal .main-checkbox input[type=checkbox] {
		visibility: hidden;
	}

	.form-horizontal .main-checkbox input[type=checkbox]:checked+label:after {
		opacity: 1;
	}

	.form-horizontal .text {
		float: left;
		margin-left: 7px;
		line-height: 20px;
		padding-top: 5px;
		text-transform: capitalize;
	}

	.form-horizontal .btn {
		float: right;
		font-size: 14px;
		color: #fff;
		background: #ffa500;
		border-radius: 30px;
		padding: 10px 25px;
		border: none;
		text-transform: capitalize;
		transition: all 0.5s ease 0s;
	}

	@media only screen and (max-width: 479px) {
		.form-horizontal .form-group {
			padding: 0 25px;
		}

		.form-horizontal .form-group i {
			left: 45px;
		}

		.form-horizontal .btn {
			padding: 10px 20px;
		}
	}

	/* .particles-js-canvas-el{
		position: fixed;
		height: 100%;
	} */